// Colors
$background-color: black;
$white: #FFFFFF;
$semitransparent-background: rgba(0, 0, 0, 0.7);
$links-color: #aaa;
$link-hover:  #ddd;

// Breakpoints
$max-page-width: 1200px;
$breakpoint-desktop: 1024px;
$breakpoint-tablet: 768px;

// Fonts
$text-base: 16px;
$title-font: 'Barlow Condensed', sans-serif;
$buttons-font: 'Exo', sans-serif;
